<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css?1" type="text/css" />
</head>
<body>
<div id="container">

　<div id="boxA">
　A（ヘッダ）
　</div>

　<div id="wrapper">
　　<div id="boxB">{% block contents %}{% endblock %}</div>
　　<div id="boxC">{% block sidemenu %}{% endblock %}</div>
　</div>
　<div id="boxD">メニュー<br>{{message}}
    <ul>
      <li><a href="{{ redirectUrl }}">main1</a>
      <li><a href="{{ appUrl }}/top2">main2</a>
      <li><a href="{{ appUrl }}/user/pw">change password</a>
      {% if role=='admin': %}
      <li><a href="{{ appUrl }}/user">show users</a>
      <li><a href="{{ appUrl }}/user/add">add user</a>
      {% endif %}
      <li><a href="{{ appUrl }}/logout">logout</a>
    </ul>
</div>

　<div id="boxE">
　E（フッタ）
　</div>

</div>
</body>
</html>